/*! CSS Used from: Embedded */
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  appearance: button;
}
/*! CSS Used from: Embedded */
.css-xplkkx {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  inset: 0px;
  z-index: 12000;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.css-xplkkx > div {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 35, 41);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
  max-width: 100vw;
  max-height: 100vh;
  flex-direction: column;
  position: relative;
}
.css-14doc9z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px 0px 24px;
  width: 100vw;
  height: 100%;
  border-radius: 0px;
}
@media screen and (min-width: 767px) {
  .css-14doc9z {
    width: 840px;
    height: 100%;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1023px) {
  .css-14doc9z {
    height: 648px;
  }
}
.css-xhj0x8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  top: 24px;
  right: 24px;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  color: rgb(183, 189, 198);
}
.css-xhj0x8:hover {
  color: rgb(112, 122, 138);
}
.css-1iztezc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.css-1r3gvce {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  border-bottom: 1px solid rgb(234, 236, 239);
  padding-left: 24px;
  padding-right: 24px;
}
.css-ibfrnl {
  box-sizing: border-box;
  margin: 0px 24px 0px 0px;
  min-width: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.css-t94xhh {
  box-sizing: border-box;
  margin: 0px 24px 0px 0px;
  min-width: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid rgb(240, 185, 11);
}
.css-1tzfn88 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  overflow-y: auto;
}
.css-fyzeir {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.css-1p8zxym {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 16px;
  padding-top: 24px;
  font-weight: 500;
}
.css-q2wk8b {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-wrap: wrap;
}
.css-1szzq3l {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  color: rgb(30, 35, 41);
  cursor: pointer;
  border: none;
  outline: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .css-1szzq3l {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-right: 12px;
    width: calc(33% - 12px);
  }
}
@media screen and (min-width: 1023px) {
  .css-1szzq3l {
    margin-top: 16px;
    margin-right: 16px;
    width: 125px;
  }
}
.css-1szzq3l:hover {
  background-color: transparent;
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .css-1szzq3l:hover {
    background-color: rgb(245, 245, 245);
  }
}
.rest_css-1szzq31{
    color: rgb(201, 148, 0) !important;
}
.css-1hv3jiv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
  text-align: left;
}
.css-j1zueq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: currentcolor;
  opacity: 1;
}
@media screen and (min-width: 767px) {
  .css-j1zueq {
    opacity: 0;
  }
}
.css-z0i09q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: currentcolor;
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .css-z0i09q {
    opacity: 0;
  }
}
.css-cbzd9 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
}
