/*! CSS Used from: Embedded */
main {
  display: block;
}
a {
  background-color: transparent;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0px;
}
[hidden] {
  display: none;
}
/*! CSS Used from: Embedded */
:focus {
  outline: 0px;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(183, 189, 198);
  border-radius: 8px;
}
a {
  text-decoration: none;
}
/*! CSS Used from: Embedded */
.css-155nz97 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  color: #1e2329;
  background-color: #ffffff;
}
/*! CSS Used from: Embedded */
.css-1b9spv1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: contents;
}
/*! CSS Used from: Embedded */
.css-qf37yy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  height: 64px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .css-qf37yy {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.css-qf37yy a,
.css-qf37yy a:active,
.css-qf37yy a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.css-qf37yy > div {
  height: 100%;
}

/*! CSS Used from: Embedded */
.css-1en9dhb {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #1e2329;
  overflow: hidden;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  visibility: hidden;
}
@media screen and (min-width: 767px) {
  .css-1en9dhb {
    pointer-events: auto;
    visibility: visible;
  }
}
/*! CSS Used from: Embedded */
.css-11y6cix {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/*! CSS Used from: Embedded */
.css-wu6zme {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.css-wu6zme > div {
  height: 100%;
}
/*! CSS Used from: Embedded */
.css-143enlu {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1e2329;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
/*! CSS Used from: Embedded */
.css-1f2m600 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  cursor: pointer;
}
.css-1f2m600:hover {
  color: #c99400;
}
/*! CSS Used from: Embedded */
.css-14rvj6w {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #fef1f2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*! CSS Used from: Embedded */
.css-ovbogu {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #ffffff;
}
/*! CSS Used from: Embedded */
.css-1aac2e {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1248px;
  background-color: #fef1f2;
}
@media screen and (min-width: 767px) {
  .css-1aac2e {
    padding-left: 24px;
    padding-right: 24px;
  }
}
/*! CSS Used from: Embedded */
.css-6q12pm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* margin-top: 40px; */
  overflow-y: auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .css-6q12pm {
    /* margin-top: 64px; */
  }
}
/*! CSS Used from: Embedded */
.css-108ucgm {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*! CSS Used from: Embedded */
.css-16kn2us {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 1200px;
  width: 100%;
}
/*! CSS Used from: Embedded */
.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
/*! CSS Used from: Embedded */
.css-cz4mv2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/*! CSS Used from: Embedded */
.css-ojbpe7 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1e2329;
  margin-bottom: 16px;
}
/*! CSS Used from: Embedded */
.css-152kxht {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #474d57;
}
/*! CSS Used from: Embedded */
.css-1iztezc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1e2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
/*! CSS Used from: Embedded */
.css-jhkvqo {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 64px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #707a8a;
}
/*! CSS Used from: Embedded */
.css-r3o9q9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1d91ff;
  font-weight: 500;
  cursor: pointer;
}
.css-r3o9q9:hover {
  color: #1d91ff;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
/*! CSS Used from: Embedded */
.css-3kcv4i {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #474d57;
}
/*! CSS Used from: Embedded */
.css-1om5toz {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
.css-8bmaul {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(183, 189, 198);
}
.css-5dhyy8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: currentcolor;
  cursor: pointer;
}
.css-5dhyy8:hover {
  color: rgb(240, 185, 11);
}
/*! CSS Used from: Embedded */
.binance-row {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  justify-content: center;
}
.binance-row::before,
.binance-row::after {
  display: flex;
}
.binance-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
/*! CSS Used from: Embedded */
.css-16fg16t {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  outline: none;
  border: none;
  background-color: inherit;
  opacity: 1;
}
.css-16fg16t::-webkit-input-placeholder {
  color: rgb(183, 189, 198);
  font-size: 14px;
}
.css-16fg16t::placeholder {
  color: rgb(183, 189, 198);
  font-size: 14px;
}
.css-6x3lo1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .css-6x3lo1 {
    width: 352px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1023px) {
  .css-6x3lo1 {
    width: 384px;
  }
}
@media screen and (min-width: 767px) {
  .css-6x3lo1 {
    width: 360px;
  }
}
@media screen and (min-width: 1023px) {
  .css-6x3lo1 {
    width: 384px;
  }
}
.css-15hjz8p {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
/* .css-15owl46{box-sizing:border-box;margin:0px;min-width:0px;position:relative;} */
.css-mo234o {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  position: relative;
}
.css-mo234o::-webkit-scrollbar {
  display: none;
}
.css-ov54vn {
  box-sizing: border-box;
  margin: 0px;
  cursor: pointer;
  min-width: auto;
}
.css-1cahv52 {
  box-sizing: border-box;
  margin: 0px 16px 0px 0px;
  min-width: 0px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  user-select: none;
  color: rgb(112, 122, 138);
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .css-1cahv52 {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 24px;
  }
}
.css-1cahv52.active {
  background-color: rgb(245, 245, 245);
  color: rgb(30, 35, 41);
}
.css-gnqbje {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
}
.css-1bzb8nq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: none;
}
.css-15651n7 {
  box-sizing: border-box;
  margin: 0px 0px 12px !important;
  min-width: 0px;
  width: 100%;
}
.css-xjlny9 {
  box-sizing: border-box;
  margin: 0px 0px 4px;
  min-width: 0px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(30, 35, 41);
  cursor: auto;
}
.css-hiy16i {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  position: relative;
  min-height: 12px;
}
.css-hiy16i.hide {
  height: 0px;
  min-height: 0px;
  overflow: hidden;
}
.css-13xytqh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.6;
  border: 1px solid rgb(234, 236, 239);
  border-radius: 4px;
  height: 48px;
  background-color: transparent;
  width: 100%;
}
.css-13xytqh:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: rgb(240, 185, 11);
}
.css-13xytqh input {
  color: rgb(30, 35, 41);
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}
.css-13xytqh .bn-input-suffix {
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}
.css-1gkkq18 {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-1acqidq {
  box-sizing: border-box;
  margin: 4px 0px 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: rgb(112, 122, 138);
}
.css-vpcnym {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.css-vpcnym .bn-tooltip-box {
  background-color: rgb(245, 245, 245);
}
.css-1fymml5 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-block;
  position: relative;
  width: 100%;
}
.css-1yof1af {
  margin: 0px;
  min-width: 0px;
  box-sizing: content-box;
  position: absolute;
  width: max-content;
  word-break: normal;
  z-index: 1400;
  max-width: 296px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 102, 115);
  border-radius: 4px;
  padding: 8px 12px;
  filter: drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px)
    drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px)
    drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);
}
.css-1yof1af > .gap-fill {
  position: absolute;
  display: block;
}
.css-1yof1af[data-popper-placement^="bottom"] > .gap-fill {
  top: -8px;
  left: 0px;
  width: 100%;
  height: 8px;
}
.css-162l5eo {
  box-sizing: border-box;
  margin: 0px 0px 0px 4px;
  min-width: 0px;
  color: rgb(183, 189, 198);
  font-size: 24px;
  fill: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}
.css-162l5eo:hover {
  color: rgb(112, 122, 138);
}
.css-102t5i1 {
  box-sizing: border-box;
  margin: 0px 0px 4px;
  min-width: 0px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(30, 35, 41);
  cursor: pointer;
}
.css-fmrkuy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(183, 189, 198);
  font-size: 24px;
  fill: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}
.css-xvxpe5 {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  width: 100%;
}
.css-i31zv8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  color: rgb(71, 77, 87);
  font-size: 14px;
  align-items: flex-start;
}
.css-b41z7l {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.css-b41z7l > svg {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgb(183, 189, 198);
  border-radius: 2px;
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  fill: transparent;
}
.css-b41z7l > svg path {
  fill: inherit;
}
.css-b41z7l input:checked ~ svg {
  border: none;
  background-color: #1d91ff;
  fill: rgb(255, 255, 255);
}
/* .css-b41z7l input:disabled ~ svg {
  cursor: not-allowed;
  background-color: rgb(234, 236, 239);
  fill: rgb(234, 236, 239);
  border: none;
} */
/* .css-b41z7l input:checked:disabled ~ svg {
  fill: rgb(183, 189, 198);
} */
.css-p19g2b {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.css-1m39mvx {
  box-sizing: border-box;
  margin: 0px 0px 0px 4px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 0%;
}
.css-1m39mvx a {
  text-decoration: none;
  color: #1d91ff;
}
.css-1m39mvx a:hover {
  text-decoration: underline;
  color: #1d91ff;
}
.css-h99h3q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  cursor: pointer;
  color: #1d91ff;
}
.css-h99h3q:hover {
  text-decoration: underline;
  color: #1d91ff;
}
.css-1bsmpdm {
  margin: 8px 0px 0px;
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 18px 24px;
  min-width: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: #fff;
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-image: none;
  background-color: #1d91ff;
  width: 100%;
}
.css-1bsmpdm:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: rgb(234, 236, 239);
  color: rgb(183, 189, 198);
}
.css-1bsmpdm:disabled:not(.inactive) {
  background-color: rgb(234, 236, 239);
  color: rgb(183, 189, 198);
  cursor: not-allowed;
}
@media screen and (min-width: 767px) {
  .css-1bsmpdm {
    margin-top: 16px;
  }
}
.css-yyvsvt {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
.css-8bmaul {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(183, 189, 198);
}
.css-5dhyy8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: currentcolor;
  cursor: pointer;
}
.css-5dhyy8:hover {
  color: rgb(240, 185, 11);
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
.css-8bmaul {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(183, 189, 198);
}
.css-5dhyy8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: currentcolor;
  cursor: pointer;
}
.css-5dhyy8:hover {
  color: rgb(240, 185, 11);
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
.css-8bmaul {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(183, 189, 198);
}
.css-5dhyy8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: currentcolor;
  cursor: pointer;
}
.css-5dhyy8:hover {
  color: rgb(240, 185, 11);
}
/*! CSS Used from: Embedded */
.css-1n9rnzc {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 64px;
  height: 24px;
}
.css-8bmaul {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(183, 189, 198);
}
.css-5dhyy8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  width: 16px;
  height: 16px;
  font-size: 16px;
  fill: currentcolor;
  cursor: pointer;
}
.css-5dhyy8:hover {
  color: rgb(240, 185, 11);
}
.el-input-group__append,
.el-input-group__prepend {
  background-color: #ffffff;
  /* color: #909399; */
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: none;
}
.css-62gygx {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* overflow: scroll; */
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  margin-top: 3px;
}
.rest_css_btn1 {
  height: 48px;
  line-height: 48px;
  width: 65px;
  display: inline-block;
  position: absolute !important;
  left: -67px;
  border: 1px solid rgb(234, 236, 239);
}
