/*! CSS Used from: Embedded */
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
input {
  overflow: visible;
}
/*! CSS Used from: Embedded */
:focus {
  outline: 0px;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(183, 189, 198);
  border-radius: 8px;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/*! CSS Used from: Embedded */
.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
/*! CSS Used from: Embedded */
.css-4cffwv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
}
.css-10nf7hq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-vp41bv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1200;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.css-snh7a0 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px,
    rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  animation: 0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;
}
.css-4pkril {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgb(255, 255, 255);
  position: relative;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .css-4pkril {
    width: 352px;
  }
}
@media screen and (min-width: 1023px) {
  .css-4pkril {
    width: 384px;
  }
}
.css-1dcbbbv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  position: relative;
  height: 64px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-e6jk6i {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.css-10uq0b5 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(112, 122, 138);
  font-size: 24px;
  fill: rgb(112, 122, 138);
  width: 1em;
  height: 1em;
}
.css-10uq0b5:hover {
  color: rgb(240, 185, 11);
  cursor: pointer;
}
.css-1ro0y7z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 300px;
  height: 440px;
}
.css-1ro0y7z .bn-sdd-option {
  max-height: 64px;
  font-size: 14px;
  line-height: 44px;
}
.css-1ro0y7z .bn-sdd-innerInputContainer {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}
.css-1ro0y7z .bn-sdd-icon {
  cursor: pointer;
  vertical-align: middle;
}
.css-1ro0y7z .bn-sdd-list {
  margin-left: -24px;
  margin-right: -24px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.css-1ro0y7z .bn-sdd-list::-webkit-scrollbar {
  border-radius: 6px;
}
.css-1ro0y7z .bn-sdd-list > li {
  padding-left: 24px;
  padding-right: 24px;
}
.css-dw182t {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  height: auto;
  min-height: 376px;
  display: block;
  width: auto !important;
  min-width: 100% !important;
}
.css-16vu25q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
}
.css-1aawpab {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.6;
  border: 1px solid rgb(234, 236, 239);
  border-radius: 4px;
  height: 48px;
  background-color: transparent;
  width: 100%;
}
.css-1aawpab.bn-input-md {
  height: 40px;
}
.css-1aawpab:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: rgb(240, 185, 11);
}
.css-1aawpab input {
  color: rgb(30, 35, 41);
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}
.css-1aawpab .bn-input-prefix {
  flex-shrink: 0;
  font-size: 14px;
}
.css-1aawpab .bn-input-prefix {
  display: flex;
}
.css-1d886ym {
  box-sizing: border-box;
  margin: 0px -8px 0px 8px;
  min-width: 0px;
  color: rgb(183, 189, 198);
  font-size: 24px;
  fill: rgb(183, 189, 198);
  width: 1em;
  height: 1em;
}
.css-jl5e70 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 1;
  background-color: transparent;
}
.css-jl5e70::-webkit-input-placeholder {
  color: rgb(183, 189, 198);
  font-size: 14px;
}
.css-jl5e70::placeholder {
  color: rgb(183, 189, 198);
  font-size: 14px;
}
.css-o6jj95 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  max-height: 320px;
  overflow-y: auto;
}
.css-88fj32 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
}
.css-88fj32:hover {
  background-color: rgb(245, 245, 245);
}
.css-1pysja1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}
.css-1bqzmte {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-170hzlx {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 8px;
}
.css-3tndv1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 32px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.css-cbqauv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.css-ke5ir5 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-shrink: 0;
}
.css-1w2yls6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(30, 35, 41);
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
}
.css-1w2yls6:hover {
  background-color: rgb(245, 245, 245);
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .CN_svg__st1 {
    fill: #ffda44;
  }
}
