/*! CSS Used from: Embedded */
h1 {
  font-size: 2em;
  margin: 0.67em 0px;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  appearance: button;
}
/*! CSS Used from: Embedded */
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}
.css-gv1gi9 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: none;
  pointer-events: none;
  visibility: hidden;
  z-index: 1100;
}
.css-16vu25q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
}
.css-1d4x75a {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding: 0px;
}
@media screen and (min-width: 767px) {
  .css-1d4x75a {
    padding: 24px;
  }
}
@media screen and (min-width: 1023px) {
  .css-1d4x75a {
    padding: 32px;
  }
}
.css-55pfc8 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding: 16px;
}
@media screen and (min-width: 767px) {
  .css-55pfc8 {
    padding: 0px;
  }
}
@media screen and (min-width: 1023px) {
  .css-55pfc8 {
    padding: 0px;
  }
}
.css-p8owu0 {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  line-height: 40px;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-1h380np {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(30, 35, 41);
}
@media screen and (min-width: 767px) {
  .css-1h380np {
    font-size: 32px;
  }
}
.css-1m62jeu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}
.css-mca8vp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  border-width: 0px 0px 1px;
  border-style: solid;
  border-color: rgb(234, 236, 239);
  padding-bottom: 8px;
  overflow: visible;
}
.css-mca8vp::-webkit-scrollbar {
  display: none;
}
.css-ov54vn {
  box-sizing: border-box;
  margin: 0px;
  cursor: pointer;
  min-width: auto;
}
.css-17efo5a {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: rgba(132, 142, 156, 0.3);
  padding-left: 0px;
  padding-right: 24px;
}
.css-1ms5o0x {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  line-height: 1.5;
  color: rgb(30, 35, 41);
  font-size: 14px;
  font-weight: 500;
}
.css-1ms5o0x::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: rgb(240, 185, 11);
  position: absolute;
  left: 0px;
  bottom: -9px;
}
@media screen and (min-width: 767px) {
  .css-1ms5o0x {
    font-size: 16px;
  }
}
@media screen and (min-width: 1023px) {
  .css-1ms5o0x {
    font-size: 16px;
  }
}
.css-oxzfpw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.css-5slpb6 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  line-height: 1.5;
  color: rgb(112, 122, 138);
  font-size: 14px;
  font-weight: 500;
}
.css-5slpb6::after {
  content: " ";
  display: none;
  width: 100%;
  height: 2px;
  background-color: rgb(240, 185, 11);
  position: absolute;
  left: 0px;
  bottom: -9px;
}
@media screen and (min-width: 767px) {
  .css-5slpb6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1023px) {
  .css-5slpb6 {
    font-size: 16px;
  }
}
.css-778ayn {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.css-p8sox7 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.css-dw578e {
  box-sizing: border-box;
  margin: 0px -8px;
  min-width: 0px;
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .css-dw578e {
    align-items: flex-end;
    flex-direction: column;
  }
}
@media screen and (min-width: 1023px) {
  .css-dw578e {
    align-items: flex-start;
    flex-direction: row;
  }
}
.css-1dmub4m {
  box-sizing: border-box;
  margin: 0px 0px 8px;
  min-width: 0px;
  max-width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: rgb(33, 40, 51);
  padding-left: 8px;
  padding-right: 8px;
}
@media screen and (min-width: 767px) {
  .css-1dmub4m {
    max-width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .css-1dmub4m {
    max-width: 748px;
  }
}
.css-sbjzaz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.css-ybbx55 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  display: inline-block;
  outline: none;
}
.css-5p5b4v {
  margin: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 10px 16px;
  min-width: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(30, 35, 41);
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-color: rgb(234, 236, 239);
  width: 259px;
}
.css-5p5b4v:disabled {
  cursor: not-allowed;
  box-shadow: none;
  color: rgb(183, 189, 198);
  background-color: rgb(245, 245, 245);
}
.css-1j00ybj {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 16px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.css-1rttasy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.css-anh175 {
  box-sizing: border-box;
  margin: 72px 0px 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.css-1udqo2t {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 96px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}
.css-z5dubt {
  box-sizing: border-box;
  margin: 16px 0px 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.css-1bzb8nq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: none;
}
