/*! CSS Used from: Embedded */
a,a:active,a:visited{text-decoration:none;}
/*! CSS Used from: Embedded */
main{display:block;}
a{background-color:transparent;}
img{border-style:none;}
button{font-family:inherit;font-size:100%;line-height:1.15;margin:0px;}
button{overflow:visible;}
button{text-transform:none;}
button{appearance:button;}
/*! CSS Used from: Embedded */
.css-1wr4jig{box-sizing:border-box;margin:0px;min-width:0px;display:flex;flex-direction:column;flex:1 1 0%;}
.css-xry4yv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;min-height:600px;flex:1 1 0%;flex-direction:column;}
@media screen and (min-width: 767px){
.css-xry4yv{flex-direction:row;}
}
.css-15owl46{box-sizing:border-box;margin:0px;min-width:0px;position:relative;}
.css-10nf7hq{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;}
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-11y6cix{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;flex:1 1 0%;}
.css-1ay57iv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;background-color:rgb(250, 250, 250);flex:1 1 0%;flex-direction:column;}
.css-8hzjvg{box-sizing:border-box;margin:0px;min-width:0px;padding:24px 16px;}
@media screen and (min-width: 767px){
.css-8hzjvg{padding-left:24px;padding-right:24px;}
}
.css-1eklhqk{box-sizing:border-box;min-width:0px;width:100%;max-width:1200px;margin:0px auto;}
.css-190uhut{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:justify;justify-content:space-between;}
.css-146agw4{box-sizing:border-box;margin:0px;min-width:0px;color:currentcolor;font-size:24px;fill:currentcolor;cursor:pointer;width:1em;height:1em;}
@media screen and (min-width: 767px){
.css-146agw4{width:32px;height:32px;font-size:32px;}
}
@media screen and (min-width: 767px){
.css-146agw4{margin-left:0px;}
}
@media screen and (min-width: 1023px){
.css-146agw4{margin-left:-48px;}
}
.css-146agw4:hover{background:rgb(234, 236, 239);border-radius:4px;}
.css-1djsyd6{box-sizing:border-box;margin:0px 0px 0px 16px;min-width:0px;font-weight:600;font-size:24px;line-height:32px;}
.css-1hrte88{margin:0px;appearance:none;user-select:none;cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;box-sizing:border-box;font-family:inherit;text-align:center;text-decoration:none;outline:none;padding:6px 12px;min-width:52px;font-weight:500;font-size:14px;line-height:20px;word-break:keep-all;color:rgb(30, 35, 41);border-radius:4px;min-height:24px;border:none;background-color:rgb(234, 236, 239);display:none;}
.css-1hrte88:disabled{cursor:not-allowed;box-shadow:none;color:rgb(183, 189, 198);background-color:rgb(245, 245, 245);}
@media screen and (min-width: 767px){
.css-1hrte88{display:flex;}
}
.css-1vjuluv{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:currentcolor;font-size:20px;fill:currentcolor;width:1em;height:1em;}
.css-1dihobw{box-sizing:border-box;margin:0px;min-width:0px;flex:1 1 0%;background-color:rgb(255, 255, 255);border-radius:40px 40px 0px 0px;padding:24px 16px;}
@media screen and (min-width: 767px){
.css-1dihobw{padding-left:24px;padding-right:24px;}
}
.css-tu2ioc{box-sizing:border-box;margin:0px;min-width:0px;display:flex;padding-top:0px;padding-bottom:0px;flex-flow:column wrap;}
@media screen and (min-width: 767px){
.css-tu2ioc{padding-top:8px;padding-bottom:8px;}
}
@media screen and (min-width: 1023px){
.css-tu2ioc{padding-top:16px;padding-bottom:16px;}
}
@media screen and (min-width: 767px){
.css-tu2ioc{flex-direction:column;}
}
@media screen and (min-width: 1023px){
.css-tu2ioc{flex-direction:row;}
}
.css-1ekpz1z{box-sizing:border-box;margin:0px;min-width:0px;order:1;flex:1 1 0%;}
@media screen and (min-width: 767px){
.css-1ekpz1z{order:1;}
}
@media screen and (min-width: 1023px){
.css-1ekpz1z{order:1;}
}
.css-av4be8{box-sizing:border-box;margin:0px;min-width:0px;display:flex;width:100%;align-items:flex-start;flex-direction:column;}
@media screen and (min-width: 767px){
.css-av4be8{flex-direction:row;}
}
@media screen and (min-width: 1023px){
.css-av4be8{flex-direction:row;}
}
.css-1x9w05y{box-sizing:border-box;margin:0px 24px 0px 0px;min-width:0px;width:100%;font-size:16px;line-height:24px;color:rgb(71, 77, 87);}
@media screen and (min-width: 767px){
.css-1x9w05y{width:160px;}
}
@media screen and (min-width: 1023px){
.css-1x9w05y{width:180px;}
}
.css-pnaw5u{box-sizing:border-box;margin:0px;min-width:0px;flex:1 1 0%;width:100%;}
@media screen and (min-width: 767px){
.css-pnaw5u{width:auto;}
}
.css-16vu25q{box-sizing:border-box;margin:0px;min-width:0px;width:100%;}
.css-7ng27{box-sizing:border-box;margin:0px 0px 4px;min-width:0px;font-size:14px;line-height:20px;color:rgb(71, 77, 87);}
.css-1dozx3h{box-sizing:border-box;margin:0px;min-width:0px;display:flex;width:100%;height:48px;background-color:rgb(255, 255, 255);padding-left:12px;padding-right:12px;border-radius:4px;border-style:solid;border-width:1px;border-color:rgb(234, 236, 239);-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;cursor:auto;}
.css-1dozx3h:hover{border-color:rgb(240, 185, 11);}
.css-1nlwvj5{box-sizing:border-box;margin:0px;min-width:0px;font-size:16px;fill:currentcolor;transform:rotate(0deg);color:rgb(112, 122, 138);width:1em;height:1em;}
.css-dlrcpm{box-sizing:border-box;margin:0px;min-width:0px;order:2;width:126px;}
.css-107bu5v{box-sizing:border-box;margin:40px 0px 0px;min-width:0px;order:4;width:100%;}
@media screen and (min-width: 767px){
.css-107bu5v{order:4;width:100%;margin-top:48px;}
}
@media screen and (min-width: 1023px){
.css-107bu5v{order:3;width:384px;margin-top:0px;}
}
.css-1qe50pw{box-sizing:border-box;margin:0px;min-width:0px;display:flex;width:100%;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;color:rgb(30, 35, 41);}
.css-4krk71{box-sizing:border-box;margin:0px;min-width:0px;font-size:20px;font-weight:500;line-height:28px;}
@media screen and (min-width: 767px){
.css-4krk71{font-size:24px;line-height:32px;}
}
@media screen and (min-width: 1023px){
.css-4krk71{font-size:16px;line-height:24px;}
}
.css-1vunmdl{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(30, 35, 41);font-size:14px;line-height:20px;text-decoration:underline;}
.css-17bmjki{box-sizing:border-box;margin:24px 0px 16px;min-width:0px;font-size:14px;color:rgb(71, 77, 87);line-height:20px;}
.css-17bmjki > ul{margin:0px 0px 0px 24px;padding:0px;}
.css-19i7ods{margin:0px;appearance:none;user-select:none;cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;box-sizing:border-box;font-family:inherit;text-align:center;text-decoration:none;outline:none;padding:6px 12px;min-width:52px;font-weight:500;font-size:14px;line-height:20px;word-break:keep-all;color:rgb(30, 35, 41);min-height:24px;border:none;background-color:rgb(234, 236, 239);border-radius:99999px;}
.css-19i7ods:disabled{cursor:not-allowed;box-shadow:none;color:rgb(183, 189, 198);background-color:rgb(245, 245, 245);}
.css-lj7zrf{box-sizing:border-box;margin:40px 0px 0px;min-width:0px;}
@media screen and (min-width: 767px){
.css-lj7zrf{margin-top:48px;}
}
@media screen and (min-width: 1023px){
.css-lj7zrf{margin-top:40px;}
}
.css-1pxm4lx{box-sizing:border-box;margin:24px 0px 0px;min-width:0px;}
.css-1ryivdn{box-sizing:border-box;margin:16px 0px 0px;min-width:0px;font-weight:400;font-size:14px;line-height:20px;text-decoration:underline;display:flex;cursor:pointer;-webkit-box-align:center;align-items:center;color:rgb(71, 77, 87);}
.css-1ryivdn:hover{text-decoration:underline;color:rgb(240, 185, 11);}
.css-1ryivdn:hover{color:rgb(30, 35, 41);}
.css-1ryivdn:hover svg{color:rgb(30, 35, 41);}
.css-1ryivdn svg{color:rgb(112, 122, 138);}
.css-1ryivdn svg path{fill:currentcolor;}
.css-r2j0d5{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;width:24px;height:24px;}
.css-1j6o9r1{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(146, 154, 165);font-size:24px;fill:rgb(146, 154, 165);width:1em;height:1em;}
.css-1pysja1{box-sizing:border-box;margin:0px;min-width:0px;flex:1 1 0%;}
.css-wmh5d4{box-sizing:border-box;margin:40px 0px 0px;min-width:0px;width:100%;order:3;}
@media screen and (min-width: 767px){
.css-wmh5d4{margin-top:48px;order:3;}
}
@media screen and (min-width: 1023px){
.css-wmh5d4{margin-top:64px;order:4;}
}
.css-joa6mv{box-sizing:border-box;margin:0px 0px 24px;min-width:0px;}
.css-1k1bx0u{box-sizing:border-box;margin:0px;min-width:0px;font-size:20px;}
@media screen and (min-width: 767px){
.css-1k1bx0u{font-size:24px;}
}
.css-1sgz1lk{box-sizing:border-box;margin:0px 0px 0px 16px;min-width:0px;}
.css-1xdxbgd{box-sizing:border-box;margin:0px;min-width:0px;display:flex;padding:8px 12px;background-color:rgb(250, 250, 250);width:74px;border-radius:99999px;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;}
.css-1xdxbgd svg:hover{color:rgb(30, 35, 41);}
.css-10gcq3t{box-sizing:border-box;margin:0px;min-width:0px;cursor:pointer;width:16px;height:16px;}
.css-10gcq3t path{fill:currentcolor;}
.css-cffkxv{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(30, 35, 41);font-size:16px;fill:rgb(30, 35, 41);width:1em;height:1em;}
.css-1qr7qo7{box-sizing:border-box;margin:0px;min-width:0px;width:1px;height:16px;background-color:rgb(234, 236, 239);}
.css-b327i8{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(183, 189, 198);font-size:16px;fill:rgb(183, 189, 198);width:1em;height:1em;}
.css-r27jgl{box-sizing:border-box;margin:0px;min-width:0px;display:flex;padding:16px 0px;border-width:0px 0px 1px;border-style:solid;border-color:rgb(234, 236, 239);cursor:pointer;align-items:flex-start;}
@media screen and (min-width: 767px){
.css-r27jgl{padding:24px 16px;-webkit-box-align:center;align-items:center;}
}
.css-r27jgl:hover{background-color:rgb(250, 250, 250);}
.css-r27jgl:hover .chevronRight{background-color:rgb(234, 236, 239);}
.css-60y5z1{box-sizing:border-box;margin:0px;min-width:0px;display:flex;align-items:flex-start;flex-flow:column wrap;}
@media screen and (min-width: 767px){
.css-60y5z1{-webkit-box-align:center;align-items:center;flex-direction:row;}
}
.css-1plro70{box-sizing:border-box;margin:0px;min-width:0px;max-width:100%;border-radius:50%;background-color:rgb(245, 245, 245);width:24px;height:24px;}
.css-1iq5991{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;font-weight:500;font-size:14px;line-height:20px;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-148ky1p{box-sizing:border-box;margin:0px;min-width:0px;max-width:250px;}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-jyc5uj{box-sizing:border-box;margin:0px 16px;min-width:0px;display:inline-block;border-radius:4px;background-color:rgba(0, 192, 135, 0.19);color:rgb(0, 192, 135);font-size:12px;line-height:16px;padding:4px 8px;cursor:default;}
.css-kzcb6r{box-sizing:border-box;margin:8px 0px 0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;flex-wrap:wrap;}
.css-cp92rp{box-sizing:border-box;margin:0px 16px 0px 0px;min-width:0px;display:flex;font-size:14px;line-height:20px;padding-top:0px;padding-bottom:0px;-webkit-box-pack:start;justify-content:flex-start;-webkit-box-align:center;align-items:center;flex-shrink:0;}
@media screen and (min-width: 767px){
.css-cp92rp{margin-right:16px;padding-top:4px;padding-bottom:4px;}
}
@media screen and (min-width: 1023px){
.css-cp92rp{margin-right:40px;padding-top:0px;padding-bottom:0px;}
}
.css-ig082u{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(71, 77, 87);font-weight:500;word-break:break-all;text-align:right;}
.css-190cj18{box-sizing:border-box;margin:0px 4px 0px 0px;min-width:0px;color:rgb(112, 122, 138);}
.css-dzopqm{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;font-size:16px;fill:currentcolor;vertical-align:middle;border-radius:4px;cursor:pointer;color:rgb(146, 154, 165);width:1em;height:1em;}
.css-dzopqm:hover{color:rgb(30, 35, 41);}
.css-dzopqm:hover path{fill:currentcolor;}
.css-1fkj99y{box-sizing:border-box;margin:0px;min-width:0px;width:140px;text-align:center;}
.css-spu744{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:rgb(146, 154, 165);font-size:16px;fill:rgb(146, 154, 165);vertical-align:middle;border-radius:4px;cursor:pointer;width:1em;height:1em;}
.css-spu744:hover{color:rgb(30, 35, 41);}
.css-spu744:hover path{fill:currentcolor;}
.css-1w6p4b0{box-sizing:border-box;margin:0px;min-width:0px;word-break:break-all;white-space:normal;text-align:center;font-size:14px;max-width:264px;}
.css-x7hwef{box-sizing:border-box;margin:0px;min-width:0px;height:24px;border-radius:99999px;background-color:rgb(250, 250, 250);width:24px;}
.css-x7hwef:hover{background-color:rgb(234, 236, 239);}
.css-1iztezc{box-sizing:border-box;margin:0px;min-width:0px;color:currentcolor;font-size:24px;fill:currentcolor;width:1em;height:1em;}
.css-6pqgzj{box-sizing:border-box;margin:8px 0px 0px;min-width:0px;cursor:pointer;display:inline-block;font-weight:500;font-size:14px;line-height:20px;text-decoration:underline;color:rgb(30, 35, 41);}
.css-6pqgzj:hover{text-decoration:underline;color:rgb(240, 185, 11);}
.css-6pqgzj:hover{color:rgb(201, 148, 0);}
@media screen and (min-width: 767px){
.css-6pqgzj{margin-top:24px;}
}
@media screen and (min-width: 1023px){
.css-6pqgzj{margin-top:16px;}
}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-hwqc42{box-sizing:border-box;margin:0px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;padding-top:14px;padding-bottom:14px;cursor:pointer;}
.css-gg0wwx{box-sizing:border-box;margin:0px 4px 0px 0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;width:auto;flex-shrink:0;}
.css-1jq4ozh{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:14px;line-height:20px;color:rgb(30, 35, 41);}
.css-15k81fw{box-sizing:border-box;margin:0px 0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;flex-direction:row;-webkit-box-align:center;align-items:center;}
.css-ruyrf1{box-sizing:border-box;margin:0px 0px 0px 8px;min-width:0px;color:rgb(71, 77, 87);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;line-height:20px;}
.css-1oi6dii{box-sizing:border-box;margin:24px 0px 0px;min-width:0px;display:flex;width:100%;align-items:flex-start;flex-direction:column;}
@media screen and (min-width: 767px){
.css-1oi6dii{margin-top:32px;flex-direction:row;}
}
@media screen and (min-width: 1023px){
.css-1oi6dii{flex-direction:row;}
}
.css-6hm6tl{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(30, 35, 41);}
.css-151whd6{box-sizing:border-box;margin:0px;min-width:0px;display:flex;font-size:14px;line-height:20px;}
.css-1c82c04{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:14px;line-height:20px;}
.css-195n22a{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:rgb(112, 122, 138);}
.css-1o8ypu8{box-sizing:border-box;margin:0px 0px 4px;min-width:0px;font-size:14px;line-height:20px;}
.css-1cgf63r{box-sizing:border-box;margin:0px;min-width:0px;font-size:16px;line-height:24px;font-weight:500;word-break:break-all;}
.css-1h690ep{box-sizing:border-box;margin:0px;min-width:0px;display:flex;flex:1 1 0%;}
.css-c1olmu{box-sizing:border-box;margin:0px 0px 0px 24px;min-width:0px;width:24px;}
.css-kmjxx1{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:rgb(112, 122, 138);font-size:24px;fill:rgb(112, 122, 138);vertical-align:middle;border-radius:4px;cursor:pointer;width:1em;height:1em;}
.css-kmjxx1:hover{color:rgb(30, 35, 41);}
.css-kmjxx1:hover path{fill:currentcolor;}
.css-xzt8zj{box-sizing:border-box;margin:0px 0px 0px 24px;min-width:0px;}
.css-1lmwr0j{box-sizing:border-box;margin:0px;min-width:0px;cursor:default;width:24px;height:24px;}
.css-1lmwr0j .bn-tooltip-box{background-color:rgb(245, 245, 245);padding:16px;}
.css-1lmwr0j .bn-tooltip-arrow::before{background:rgb(245, 245, 245)!important;}
.css-1k57s1j{box-sizing:border-box;margin:0px;min-width:0px;width:232px;}
.css-1wh8urx{box-sizing:border-box;margin:0px;min-width:0px;font-size:12px;line-height:16px;color:rgb(71, 77, 87);text-align:center;}
.css-81xrsn{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:center;justify-content:center;}
.css-n3mo0a{box-sizing:border-box;margin:8px 0px;min-width:0px;padding:8px;background-color:rgb(255, 255, 255);}
.css-95t24d{box-sizing:border-box;margin:0px;min-width:0px;font-size:12px;line-height:16px;color:rgb(30, 35, 41);}
.css-95t24d ul{margin:0px;padding:0px 0px 0px 16px;}
.css-vr1wsl{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(30, 35, 41);font-size:14px;}
.css-1s8b8jd{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(246, 70, 93);font-size:14px;}
.css-1en91pv{box-sizing:border-box;margin:0px;min-width:0px;font-size:24px;fill:currentcolor;color:rgb(112, 122, 138);width:1em;height:1em;}
.css-1en91pv:hover{color:rgb(30, 35, 41);}
.css-17eiwif{box-sizing:border-box;margin:24px 0px 0px;min-width:0px;display:flex;align-items:flex-end;}
.css-16enr5p{box-sizing:border-box;margin:0px;min-width:0px;white-space:nowrap;}
.css-1914w08{box-sizing:border-box;margin:0px;min-width:0px;width:190px;}
.css-1es4x0r{box-sizing:border-box;margin:0px;min-width:0px;background-color:rgb(254, 246, 216);padding:4px;font-size:12px;line-height:16px;color:rgb(201, 148, 0);position:relative;}
.css-1es4x0r::before{content:" ";display:block;width:0px;height:0px;border-width:6px;border-style:solid;border-color:transparent rgb(254, 246, 216) transparent transparent;position:absolute;left:-12px;top:50%;transform:translateY(-50%);}
.css-15slc0p{box-sizing:border-box;margin:0px;min-width:0px;font-size:14px;line-height:20px;flex:1 1 0%;}
.css-1hufmyh{box-sizing:border-box;margin:0px 0px 4px;min-width:0px;color:rgb(112, 122, 138);}
.css-s3l2jm{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(71, 77, 87);}
.css-197ji3y{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(71, 77, 87);font-size:16px;font-weight:500;}
.css-1dnnrwx{box-sizing:border-box;margin:16px 0px 0px;min-width:0px;display:flex;}
.css-8mokm4{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;}
.css-1y45qk4{box-sizing:border-box;margin:0px;min-width:0px;white-space:normal;}
.css-bwkxhq{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:rgb(146, 154, 165);font-size:16px;fill:rgb(146, 154, 165);width:1em;height:1em;vertical-align:middle;}
.css-f5h6sg{box-sizing:border-box;margin:0px;min-width:0px;display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;}
.css-12c8nmk{box-sizing:border-box;margin:0px 0px 0px 5px;min-width:0px;cursor:pointer;font-weight:500;color:rgb(201, 148, 0);}
.css-1mky3oo{box-sizing:border-box;margin:0px;min-width:0px;font-size:14px;line-height:20px;color:rgb(71, 77, 87);}
.css-1mky3oo ul{margin:0px;padding:0px 0px 0px 16px;}
/*! CSS Used from: Embedded */
.animate__animated{animation-duration:0.8s;animation-fill-mode:both;}