$mainBgColor: var(--mainBgColor);
$mainTextColor: var(--mainTextColor);
$mainbgWhiteColor: var(--mainbgWhiteColor);

$main_background: var(--main_background);
$main2_background: var(--main2_background);
$text_color: var(--text_color);
$text_color1: var(--text_color1);
$text_color2: var(--text_color2);
$text_color3: var(--text_color3);
$text_color4: var(--text_color4);
$text_color5: var(--text_color5);
$text_color6: var(--text_color6);
$tab_background: var(--tab_background);
$active_line: var(--active_line);
$footer_background: var(--footer_background);
$btn_main: var(--btn_main);
$color_main: var(--color_main);
$btn_background: var(--btn_background);
$input_background: var(--input_background);
$cont_background1: var(--cont_background1);
$title_color: var(--title_color);
$line_color: var(--line_color);
$bg_dark: var(--bg_dark);
$border_color: var(--border_color);
$divi_line: var(--divi_line);
$bg_step: var(--bg_step);
$bg_Bottom: var(--bg_Bottom);
$chat_bg: var(--chat_bg);
$upload_bg: var(--upload_bg);
$grey_bg: var(--grey_bg);
$input_background1: var(--input_background1);
$c2c_color: var(--c2c_color);
$c2c_background: var(--c2c_background);
$c2c_background1: var(--c2c_background1);
$c2c_tab_background: var(--c2c_tab_background);
$c2c_tip_background: var(--c2c_tip_background);
$selectSymbol_background: var(--selectSymbol_background);
$options_background: var(--options_background);
$US_tab_background: var(--US_tab_background);
$US_tabActice_background: var(--US_tabActice_background);
$lable_color: var(--lable_color);
$cont_background: var(--cont_background);
$delivery_left_tab_background: var(--delivery_left_tab_background);
$delivery_tab_background: var(--delivery_tab_background);
$search_background: var(--search_background);
$pledgeLoan_background: var(--pledgeLoan_background);
$financialBackground: var(--financialBackground);
$financialBut: var(--financialBut);
$footer_bg: var(--footer_bg);
$recommend-bg: var(--recommend_bg);
$footer_color: var(--footer_color);
$tab_normal_text: var(--tab_normal_text);
$hot-item-bg: var(--hot-item-bg);
$second-bg: var(--second-bg);
$dot-alp: var(--dot-alp);
$btn-group: var(--btn-group);
$popup-bg: var(--popup-bg);
$tab-second-bg: var(--tab-second-bg);
$filter: var(--filter);
$chat-border: var(--chat-border);
$more-bg: var(--more-bg);
$fina-border: var(--fina-border);
$select-bg: var(--select-bg);
$foot-border: var(--foot-border);
$input-border: var(--input-border);
$c2c-tab-bg: var(--c2c-tab-bg);
$step-border: var(--step-border);
$step-bg: var(--step-bg);
$news-bg-1: var(--news-bg-1);
$news-bg-2: var(--news-bg-2);
$footer-border: var(--footer-border);
$hot-bg-1: var(--hot-bg-1);
$hot-bg-2: var(--hot-bg-2);
$bz-bg: var(--bz-bg);
$jp-hot-bg-1: var(--jp-hot-bg-1);
$jp-hot-bg-2: var(--jp-hot-bg-2);
$hot-text-color1: var(--hot-text-color1);
$hot-text-color2: var(--hot-text-color2);
$lower-text-color: var(--lower-text-color);
$down-bg: var(--down-bg);
$up-bg: var(--up-bg);
$tab_active: var(--tab_active);
$exchange-bg: var(--exchange-bg);
$f10-text: var(--f10-text);
$quotes-btn-bg: var(--quotes-btn-bg);
$quotes-btn-text: var(--quotes-btn-text);
$van-bg: var(--van-bg);
$ipo_card_bg: var(--ipo_card_bg);
$ipo_normal_text: var(--ipo_normal_text);
$van-step-b: var(--van-step-b);
$van-step-s: var(--van-step-s);
$van-step-g: var(--van-step-g);
$en-hot-bg-1: var(--en-hot-bg-1);
$en-hot-bg-2: var(--en-hot-bg-2);
$en-stock-bg: var(--en-stock-bg);

$white: #ffffff;
$black: #000000;
$dark-black: #22262f;
$grey: #e5e7ed;
$dark-grey: #868c9a;
$light-grey: #c8cad2;
$border-grey: #e5e7ed;
$blue: #1678ff;
$light-blue: #1199fa;
$red: #f43368;
$green: #06cda5;
$purple: #9a4dfd;
$night: #131a2e;
$main-btn-color: #fff;
$c-blue: #1199fa;
$c-red: #de5d56;
